h1{
    color: brown;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10cm;
    border-top: 0ch;
    text-align: center;
}
h1:hover{
    background-color: rgb(8, 193, 132);
}
.main{
    text-align: center;
    margin: 49px;
    border-top-right-radius: 30px;
    padding: 80px;
    block-size: 300cm;
    box-sizing: border-box;
    background: url(bg.jpg);
}
.button:hover{
    background-color: rgb(67, 136, 170);
}
.button{
    padding:30px 30px;
    margin: 5px 7px;
    background-color: rgb(9, 9, 8);
    border-color: rgb(171, 67, 48);
    font-size: large;
    color: rgb(68, 236, 12) ;
    block-size: 4vmax;
    border-style: dashed;
    border-radius: 9px;
    cursor: pointer;
}
.input{
    padding:42px 50px;
    margin-bottom: 40px;
    border-radius: 12px;
    border-style: initial;
    background-color: black;
    font-weight: bold;
    color: white;
    font-size: large;
}